/* ----- Colors dark to light ----- */
$black: #000;
$lightblack: #090e1a;
$grey: #6c757d;
$lightergrey: #ced4da;
$white: #ffffff;
// ----- Tinder colors -----
$dark: #424242 ;
$orange: #FF7854 ;
$red : #ff4458;
$pink: #FD267A;
/* ----- Colors ----- */
$turquoise: #b6f6ff;
$lightblue: #eff4ff;
$aqua: #71dbea;
$yellow: #ffcf59;

$blue: #5a8aff;
// $red: #f10000;
$lightgreen: #ddfce8;

/* ----- Font/text values ----- */
$font-family-nunito: "Nunito", sans-serif;
 
/* ----- Breakpoint values ----- */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Smartphone
@mixin sm {
    @media (min-width: #{$screen-sm-min}) and (min-height: #{$screen-sm-min}) {
        @content;
    }
}

@mixin sm-landscape {
    @media (max-width: #{$screen-lg-min}) and (max-height: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}
